.hidden {
  display: none;
}

.setBackround {
  background-size: cover;
}

ul li.checked {
  text-decoration: line-through;
  color: gray;
}

.list-align {
  padding-left: 10px;
  list-style: none;
}

.list-padding {
  margin-left: 5px;
}
